body{
    
    font-family: 'Merriweather Sans', sans-serif;
    text-align:center;
}

.fcontainer{
    position: relative;
    text-align: center;
    bottom: 20px;
    background-color:#e8ffff;
}
.name{
    font-family: 'Sacramento', cursive;
    font-size:5rem;
    margin:auto;
    color: #66bfbf;
}
h2{
    font-family: 'Montserrat', sans-serif;
    color:#66bfbf;
    font-weight: strong;
}
h3{
    font-family: 'Montserrat', sans-serif;
    color:#66bfbf;
}
.python{
   width: 16%;
   float:left;
}
.webdev{
    width: 14%;
    float: right;
}

.profile{
    width:50%;
    text-align: center;
    margin: 10px auto 10px auto;
    color:#40514E;
    }
.profile-pic{
    width:10rem;
}
.bottom-container{
    background-color:#66bfbf;
    padding: 50px 0 20px;
    text-align: center;  
}
.skill-row{
    width:50%;
    text-align:left;
    margin :10px auto 10px auto;
    line-height: 2;
}
a{
    color: #11999e;
    font-family: 'Merriweather Sans', sans-serif;
    margin:10px;
    text-decoration: none; 
}
a:hover{
    color:#eaf6f6; 
}

.end{
    font-size:0.5rem;
    color:#eaf6f6;
    padding: 20px 0;
}

.firstcloud{
    position: relative;
    bottom:20px;
    left:220px;
    top: 30px;
}
.secondcloud{
    position:absolute;
    bottom:300px;
    right:900px;
   
}
.pro{
    text-decoration: underline;
}
hr{
    border-style: dotted none none;
    border-color: #eaf6f6;
    border-width: 6px;
    margin:100px auto;
    width: 10%;
}
.contact-message{
    margin: 50px auto 60px;
}
.btn{
    background: #11CDD4;
    background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
    background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
    background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
    background-image: -o-linear-gradient(top, #11CDD4, #11999E);
    background-image: -webkit-gradient(to bottom, #11CDD4, #11999E);
    -webkit-border-radius: 33px;
    -moz-border-radius: 33px;
    border-radius: 35px;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-weight: 200;
    padding: 25px;
    border: solid #337FED 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin-bottom: 50px;
 }
 
 .btn:hover {
    border: solid #337FED 1px;
    background: #30E3CB;
    background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4ED);
    background-image: -moz-linear-gradient(top, #30E3CB, #2BC4ED);
    background-image: -ms-linear-gradient(top, #30E3CB, #2BC4ED);
    background-image: -o-linear-gradient(top, #30E3CB, #2BC4ED);
    background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4ED);
    -webkit-border-radius: 38px;
    -moz-border-radius: 38px;
    border-radius: 38px;
    text-decoration: none;
 }

.mountain{
    
    
}
